<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuitong.applychain.dao.ChargeMapper">

    <!-- 查询费率 -->
    <select id="findById" parameterType="string" resultType="com.fuhuitong.applychain.model.Charge">
        SELECT * FROM charge WHERE chargeId = #{chargeId}
    </select>
    <!-- 查询费率 -->
    <select id="findByMerId" parameterType="string" resultType="com.fuhuitong.applychain.model.Charge">
        SELECT * FROM charge WHERE merid = #{merId}
    </select>

    <!-- 添加费率 -->
    <insert id="addCharge" parameterType="com.fuhuitong.applychain.model.Charge">
        INSERT INTO charge(chargeId,merId
        <if test="cash != null || cash != ''">
            ,cash
        </if>
        <if test="wechat != null ||　wechat != ''">
            ,wechat
        </if>
        <if test="alipay != null ||　alipay != ''">
            ,alipay
        </if>
        <if test="bestpay != null || bestpay != ''">
            ,bestpay
        </if>
        <if test="debit != null || debit != ''">
            ,debit
        </if>
        <if test="debitMax != null || debitMax != ''">
            ,debitMax
        </if>
        <if test="credit != null || credit!= ''">
            ,credit
        </if>
        <if test="creditMax != null || creditMax != ''">
            ,creditMax
        </if>
        )
        VALUES(#{chargeId},#{merId}
        <if test="cash != null || cash != ''">
            ,#{cash}
        </if>
        <if test="wechat != null ||　wechat != ''">
            ,#{wechat}
        </if>
        <if test="alipay != null ||　alipay != ''">
            ,#{alipay}
        </if>
        <if test="bestpay != null || bestpay != ''">
            ,#{bestpay}
        </if>
        <if test="debit != null || debit != ''">
            ,#{debit}
        </if>
        <if test="debitMax != null || debitMax != ''">
            ,#{debitMax}
        </if>
        <if test="credit != null || credit!= ''">
            ,#{credit}
        </if>
        <if test="creditMax != null || creditMax != ''">
            ,#{creditMax}
        </if>
        )
    </insert>


    <!-- 删除费率 -->
    <delete id="deleteCharge" parameterType="string">
        DELETE FROM charge WHERE merId = #{merId}
    </delete>


    <!-- 修改费率 -->
    <update id="updateCharge" parameterType="com.fuhuitong.applychain.model.Charge">
        UPDATE charge SET
        <if test="cash != null">
            cash = #{cash},
        </if>
        <if test="wechat != null">
            wechat= #{wechat},
        </if>
        <if test="alipay != null">
            alipay = #{alipay},
        </if>
        <if test="bestpay != null">
            bestpay = #{bestpay},
        </if>
        <if test="debit != null">
            debit = #{debit},
        </if>
        <if test="debitMax != null">
            debitMax = #{debitMax},
        </if>
        <if test="credit != null">
            credit = #{credit},
        </if>
        <if test="creditMax != null">
            creditMax = #{creditMax},
        </if>
        merId = #{merId}
        WHERE merId = #{merId}
    </update>
</mapper>