<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuitong.applychain.dao.ProductRoleMapper">
  <resultMap id="BaseResultMap" type="com.fuhuitong.applychain.model.ProductRole">
    <id column="PRODUCT_ROLE_ID" jdbcType="INTEGER" property="productRoleId" />
    <result column="PRODUCT_ROLE_NAME" jdbcType="VARCHAR" property="productRoleName" />
    <result column="PRODUCT_ROLE_STATUS" jdbcType="INTEGER" property="productRoleStatus" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    PRODUCT_ROLE_ID, PRODUCT_ROLE_NAME, PRODUCT_ROLE_STATUS, CREATE_DATE
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRODUCT_ROLE
    where PRODUCT_ROLE_ID = #{productRoleId,jdbcType=INTEGER}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PRODUCT_ROLE
    order by PRODUCT_ROLE_ID
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PRODUCT_ROLE
    where PRODUCT_ROLE_ID = #{productRoleId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.fuhuitong.applychain.model.ProductRole">
    insert into PRODUCT_ROLE (PRODUCT_ROLE_ID, PRODUCT_ROLE_NAME, PRODUCT_ROLE_STATUS, 
      CREATE_DATE)
    values (#{productRoleId,jdbcType=INTEGER}, #{productRoleName,jdbcType=VARCHAR}, #{productRoleStatus,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fuhuitong.applychain.model.ProductRole">
    insert into PRODUCT_ROLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productRoleId != null">
        PRODUCT_ROLE_ID,
      </if>
      <if test="productRoleName != null">
        PRODUCT_ROLE_NAME,
      </if>
      <if test="productRoleStatus != null">
        PRODUCT_ROLE_STATUS,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productRoleId != null">
        #{productRoleId,jdbcType=INTEGER},
      </if>
      <if test="productRoleName != null">
        #{productRoleName,jdbcType=VARCHAR},
      </if>
      <if test="productRoleStatus != null">
        #{productRoleStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuhuitong.applychain.model.ProductRole">
    update PRODUCT_ROLE
    <set>
      <if test="productRoleName != null">
        PRODUCT_ROLE_NAME = #{productRoleName,jdbcType=VARCHAR},
      </if>
      <if test="productRoleStatus != null">
        PRODUCT_ROLE_STATUS = #{productRoleStatus,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PRODUCT_ROLE_ID = #{productRoleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuhuitong.applychain.model.ProductRole">
    update PRODUCT_ROLE
    set PRODUCT_ROLE_NAME = #{productRoleName,jdbcType=VARCHAR},
      PRODUCT_ROLE_STATUS = #{productRoleStatus,jdbcType=INTEGER},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
    where PRODUCT_ROLE_ID = #{productRoleId,jdbcType=INTEGER}
  </update>
</mapper>