<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuhuitong.applychain.dao.PurchaseOrdersSnMapper">
  <resultMap id="BaseResultMap" type="com.fuhuitong.applychain.model.PurchaseOrdersSn">
    <id column="PURCHASE_ORDER_SN" jdbcType="INTEGER" property="purchaseOrderSn" />
    <result column="PURCHASE_ORDER_ID" jdbcType="VARCHAR" property="purchaseOrderId" />
  </resultMap>
  <sql id="Base_Column_List">
    PURCHASE_ORDER_SN, PURCHASE_ORDER_ID
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PURCHASE_ORDERS_SN
    where PURCHASE_ORDER_SN = #{purchaseOrderSn,jdbcType=INTEGER}
  </select>
  
  <select id="selectByPurchaseOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from PURCHASE_ORDERS_SN
    where PURCHASE_ORDER_ID = #{purchaseOrderId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from PURCHASE_ORDERS_SN
    where PURCHASE_ORDER_SN = #{purchaseOrderSn,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.fuhuitong.applychain.model.PurchaseOrdersSn">
    insert into PURCHASE_ORDERS_SN (PURCHASE_ORDER_ID)
    values (#{purchaseOrderId,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.fuhuitong.applychain.model.PurchaseOrdersSn">
    insert into PURCHASE_ORDERS_SN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="purchaseOrderSn != null">
        PURCHASE_ORDER_SN,
      </if>
      <if test="purchaseOrderId != null">
        PURCHASE_ORDER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="purchaseOrderSn != null">
        #{purchaseOrderSn,jdbcType=INTEGER},
      </if>
      <if test="purchaseOrderId != null">
        #{purchaseOrderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fuhuitong.applychain.model.PurchaseOrdersSn">
    update PURCHASE_ORDERS_SN
    <set>
      <if test="purchaseOrderId != null">
        PURCHASE_ORDER_ID = #{purchaseOrderId,jdbcType=VARCHAR},
      </if>
    </set>
    where PURCHASE_ORDER_SN = #{purchaseOrderSn,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fuhuitong.applychain.model.PurchaseOrdersSn">
    update PURCHASE_ORDERS_SN
    set PURCHASE_ORDER_ID = #{purchaseOrderId,jdbcType=VARCHAR}
    where PURCHASE_ORDER_SN = #{purchaseOrderSn,jdbcType=INTEGER}
  </update>
</mapper>